## Mentoría: Predicción de indicadores sociales para países del MERCOSUR

[Link a la descripción del proyecto](https://github.com/jfrau/DiploDatos2020/blob/master/README.md)

## Importacion de Librerías

In [12]:
import pandas as pd

#Visualización
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Para que pandas no trunque aquellas celdas con contenido muy largo (como textos)
pd.set_option('display.max_colwidth', -1)

## Carga de datos

Cargamos los datasets de cada uno de los indicadores a predecir.

In [14]:
education = pd.read_csv('educacion_mercosur_cleaned.csv')
gender = pd.read_csv('gender_mercosur_cleaned.csv')
environment = pd.read_csv('environment_mercosur_cleaned.csv')
health = pd.read_csv('health_mercosur_cleaned.csv')
poverty = pd.read_csv('poverty_mercosur_cleaned.csv')
social_protection = pd.read_csv('socialprotection_mercosur_cleaned.csv')

Veamos por ejemplo las primeras filas del dataset de Educación...

In [15]:
education.head(2)

,Unnamed: 0,Indicator,Country Name,Country Code,Indicator Code,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Población entre 15 y 64 años de edad (% del total),Education,Argentina,ARG,SP.POP.1564.TO.ZS,63.615666,63.527827,63.427855,63.313371,63.178718,...,63.769017,63.880723,63.947129,63.982692,64.015470,64.060020,64.060567,64.083523,64.121277,NaN
1,Población entre 0 y 14 años de edad (% del total),Education,Argentina,ARG,SP.POP.0014.TO.ZS,29.438848,29.380490,29.347396,29.339782,29.361379,...,26.035958,25.822270,25.651857,25.509966,25.368129,25.211165,25.079456,24.926770,24.760934,NaN

... y un muestreo aleatorio del dataset de Salud.

In [16]:
health.sample(2)

,Unnamed: 0,Indicator,Country Name,Country Code,Indicator Code,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
1249,"Población de 65 años de edad y más, total",Health,Suriname,SUR,SP.POP.65UP.TO,14388.0,14565.0,14580.0,14456.0,14266.0,...,32669.0,33489.0,34345.0,35222.0,36098.0,36954.0,37891.0,38822.0,39780.0,NaN
1107,"Prevalencia de VIH, varones (% entre 15 y 24 años de edad)",Health,Guyana,GUY,SH.HIV.1524.MA.ZS,NaN,NaN,NaN,NaN,NaN,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,NaN

Como observamos, por cuestiones referidas al guardado del csv la primera columna no posee ningún nombre. La renombramos como ***Features*** en todos los datasets.

In [17]:
#Corección del nombre de la primera columna
education = education.rename(columns={"Unnamed: 0": "Features"})
gender = gender.rename(columns={"Unnamed: 0": "Features"})
environment = environment.rename(columns={"Unnamed: 0": "Features"})
health = health.rename(columns={"Unnamed: 0": "Features"})
poverty = poverty.rename(columns={"Unnamed: 0": "Features"})
social_protection = social_protection.rename(columns={"Unnamed: 0": "Features"})

In [18]:
social_protection.sample()

,Features,Indicator,Country Name,Country Code,Indicator Code,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
310,"Fuerza laboral con educación intermedia, mujeres (% de la fuerza laboral femenina)",Social_protection,Uruguay,URY,SL.TLF.INTM.FE.ZS,NaN,NaN,NaN,NaN,NaN,...,70.706902,73.990799,73.212196,73.1418,72.546799,72.651604,72.376503,70.699501,70.786903,NaN

Por último veamos las dimensiones de cada uno de los datasets considerados:

In [19]:
print('Dimensiones de los datasets: \n',
      'Educación:',education.shape, '\n', 
      'Género:',gender.shape,'\n',
     'Medio Ambiente:', environment.shape, '\n',
     'Salud:', health.shape, '\n',
      'Pobreza:',poverty.shape, '\n',
      'Protección Social:',social_protection.shape)

Dimensiones de los datasets:
 Educación: (1272, 55)
 Género: (996, 55)
 Medio Ambiente: (912, 55)
 Salud: (1344, 55)
 Pobreza: (180, 55)
 Protección Social: (1116, 55)

### Breve muestro estadístico

In [20]:
gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 55 columns):
Features          996 non-null object
Indicator         996 non-null object
Country Name      996 non-null object
Country Code      996 non-null object
Indicator Code    996 non-null object
1970.0            267 non-null float64
1971.0            327 non-null float64
1972.0            311 non-null float64
1973.0            303 non-null float64
1974.0            307 non-null float64
1975.0            295 non-null float64
1976.0            304 non-null float64
1977.0            324 non-null float64
1978.0            304 non-null float64
1979.0            297 non-null float64
1980.0            264 non-null float64
1981.0            235 non-null float64
1982.0            231 non-null float64
1983.0            214 non-null float64
1984.0            249 non-null float64
1985.0            275 non-null float64
1986.0            290 non-null float64
1987.0            294 non-null float64
1988.0            273 non-null float64
1989.0            238 non-null float64
1990.0            284 non-null float64
1991.0            636 non-null float64
1992.0            618 non-null float64
1993.0            648 non-null float64
1994.0            585 non-null float64
1995.0            619 non-null float64
1996.0            651 non-null float64
1997.0            596 non-null float64
1998.0            681 non-null float64
1999.0            772 non-null float64
2000.0            759 non-null float64
2001.0            751 non-null float64
2002.0            769 non-null float64
2003.0            752 non-null float64
2004.0            781 non-null float64
2005.0            824 non-null float64
2006.0            798 non-null float64
2007.0            825 non-null float64
2008.0            835 non-null float64
2009.0            872 non-null float64
2010.0            852 non-null float64
2011.0            873 non-null float64
2012.0            860 non-null float64
2013.0            799 non-null float64
2014.0            807 non-null float64
2015.0            805 non-null float64
2016.0            785 non-null float64
2017.0            756 non-null float64
2018.0            607 non-null float64
2019.0            340 non-null float64
dtypes: float64(50), object(5)
memory usage: 428.1+ KB

In [30]:
gender.describe(include='object')

,Features,Indicator,Country Name,Country Code,Indicator Code
count,996,996,996,996,996
unique,83,1,12,12,83
top,"Supervivencia hasta los 65 años, mujeres (% de la cohorte)",Gender,Suriname,URY,SL.UEM.TOTL.MA.ZS
freq,12,996,83,83,12

In [25]:
gender.describe(include='float')

,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
count,267.000000,327.000000,311.000000,303.000000,307.000000,295.000000,304.000000,324.000000,304.000000,297.000000,...,852.000000,873.000000,860.000000,799.000000,807.000000,805.000000,785.000000,756.000000,607.000000,340.000000
mean,3070.725406,748.889278,552.108538,771.666250,1156.919587,1581.743274,1178.669536,996.922583,934.526685,859.073386,...,538.852398,1187.407923,776.147141,535.511907,584.900127,754.170129,873.854447,826.383055,356.806444,33.480108
std,25513.141762,8098.923367,5476.803970,8675.474360,9582.902556,11200.964066,9865.145238,8380.859909,7856.479723,6586.765523,...,4578.264578,12829.155655,7157.605944,5873.754162,6455.404006,7457.420292,9082.448234,9288.841691,3690.908330,24.842334
min,0.362750,0.248470,0.301900,0.344930,0.498160,0.483570,0.451560,0.624940,0.662620,0.559960,...,0.100000,0.100000,0.100000,0.100000,0.100000,0.072000,0.033000,0.015000,0.058000,0.049000
25%,24.285485,23.894865,26.887430,28.330900,34.769140,34.281510,37.426603,42.175900,43.231097,36.592250,...,16.864500,16.770000,16.197750,16.149500,16.600000,16.809999,15.385000,14.287073,11.617500,10.025000
50%,59.256626,53.184520,53.940000,56.328403,58.894390,59.580000,62.311470,63.620647,63.608763,62.925580,...,52.195999,55.018998,53.208500,52.588060,53.382999,52.139000,51.277410,50.400999,44.950370,29.820001
75%,91.846250,79.933990,87.304145,85.887675,90.060655,87.803810,88.020820,93.099457,91.586295,89.326760,...,85.962978,87.462140,85.873073,85.030722,85.836140,86.330200,84.717870,82.532885,74.979892,52.032751
max,317992.000000,104133.000000,69461.000000,108680.000000,105317.000000,113701.000000,114025.000000,96989.000000,87482.000000,72260.000000,...,66370.000000,261214.000000,98453.000000,94212.000000,106131.000000,108798.000000,143953.000000,166336.000000,52032.000000,91.122002

In [24]:
gender.dtypes

Features          object
Indicator         object
Country Name      object
Country Code      object
Indicator Code    object
1970.0            float64
1971.0            float64
1972.0            float64
1973.0            float64
1974.0            float64
1975.0            float64
1976.0            float64
1977.0            float64
1978.0            float64
1979.0            float64
1980.0            float64
1981.0            float64
1982.0            float64
1983.0            float64
1984.0            float64
1985.0            float64
1986.0            float64
1987.0            float64
1988.0            float64
1989.0            float64
1990.0            float64
1991.0            float64
1992.0            float64
1993.0            float64
1994.0            float64
1995.0            float64
1996.0            float64
1997.0            float64
1998.0            float64
1999.0            float64
2000.0            float64
2001.0            float64
2002.0            float64
2003.0            float64
2004.0            float64
2005.0            float64
2006.0            float64
2007.0            float64
2008.0            float64
2009.0            float64
2010.0            float64
2011.0            float64
2012.0            float64
2013.0            float64
2014.0            float64
2015.0            float64
2016.0            float64
2017.0            float64
2018.0            float64
2019.0            float64
dtype: object

## Metadata

Cargamos ahora la metadata de cada una de las variables para cada indicador. La metadata es una explicación breve sobre el significado de cada variable y la fuente de datos, en criollo podríamos decir que básicamente es un "Diccionario de datos". Estos datos deben ser tomados de consulta y para dar sentido a los valores o información hallada.

In [9]:
metadata_education = pd.read_csv('metadata_education.csv')
metadata_gender = pd.read_csv('metadata_gender.csv')
metadata_environment = pd.read_csv('metadata_environment.csv')
metadata_health = pd.read_csv('metadata_health.csv')
metadata_poverty = pd.read_csv('metadata_poverty.csv')
metadata_socialprotection = pd.read_csv('metadata_socialprotection.csv')

Inspeccionemos un poco de que se trata...

In [10]:
metadata_education.sample(2)

,Unnamed: 0,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION
47,47,SE.SEC.TCAQ.LO.ZS,Maestros capacitados en el ciclo inferior de la educación de nivel secundario (% del total de maestros),Trained teachers in lower secondary education are the percentage of lower secondary school teachers who have received the minimum organized teacher training (pre-service or in-service) required for teaching in a given country.,"Instituto de Estadística de la Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura (UNESCO)."
111,111,SE.PRM.NINT.ZS,Tasa neta de ingreso en primer grado (% de población oficial en edad escolar),"Tasa neta de ingreso, educación primaria, total. Corresponde al número total de estudiantes que ingresan por primera vez al primer grado de educación primaria y que están en edad oficial de ingresar a dicho nivel de educación, expresado como porcentaje de la población total de la misma edad.","Instituto de Estadística de la Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura (UNESCO)."

### metadata_gender.sample(2)

In [12]:
metadata_environment.sample(2)

,Unnamed: 0,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION
111,111,EN.ATM.CO2E.GF.KT,Emisiones de CO2 del consumo de combustible gaseoso (kilotoneladas),Las emisiones de dióxido de carbono del consumo de combustibles líquidos se refieren principalmente a las emisiones del uso de gas natural como fuente de energía.,"Centro de Análisis de Información sobre Dióxido de Carbono, División de Ciencias Ambientales del Laboratorio Nacional de Oak Ridge (Tennessee, Estados Unidos)."
80,80,EN.ATM.SF6G.KT.CE,Emisiones de gas SF6 (miles de toneladas métricas de equivalente de CO2),El hexafluoruro de sulfuro es muy utilizado para aislar el equipamiento eléctrico de alto voltaje.,"Comisión Europea, Centro Común de Investigación (JRC)/Agencia de Evaluación Ambiental de los Países Bajos (PBL). Base de Datos de Emisiones para la Investigación Atmosférica Global (EDGAR): http://edgar.jrc.ec.europa.eu/."

In [13]:
metadata_health.sample(2)

,Unnamed: 0,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION
202,202,SH.HIV.PMTC.ZS,Cobertura de la terapia antirretroviral para la prevención de la transmisión de madre a hijo (% de mujeres embarazadas que viven con el VIH),Percentage of pregnant women with HIV who receive antiretroviral medicine for prevention of mother-to-child transmission (PMTCT).,Estimaciones de Onusida.
140,140,SH.STA.SUIC.P5,Tasa de mortalidad por suicidio (por cada 100 000 habitantes),"Suicide mortality rate is the number of suicide deaths in a year per 100,000 population.","World Health Organization, Global Health Observatory Data Repository (http://apps.who.int/ghodata/)."

In [14]:
metadata_poverty.sample(2)

,Unnamed: 0,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Unnamed: 4
3,3,SI.SPR.PC40,"Consumo medio o ingresos per cápita según encuestas, 40 % más pobre de la población (USD por día según la PPA de 2011)",Mean consumption or income per capita (2011 PPP $ per day) used in calculating the growth rate in the welfare aggregate of the bottom 40% of the population in the income distribution in a country.,"Banco Mundial, Base de Datos Mundial sobre Prosperidad Compartida (GDSP) alrededor de 2008-13 (http://www.worldbank.org/en/topic/poverty/brief/global-database-of-shared-prosperity).",NaN
7,7,SI.POV.UMIC,NaN,NaN,NaN,NaN

In [15]:
metadata_socialprotection.sample(2)

,Unnamed: 0,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION
139,139,per_sa_allsa.cov_q3_tot,Cobertura de los programas de medidas de protección social en el tercer quintil (% de la población),"Coverage of social safety net programs shows the percentage of population participating in cash transfers and last resort programs, noncontributory social pensions, other cash transfers programs (child, family and orphan allowances, birth and death grants, disability benefits, and other allowances), conditional cash transfers, in-kind food transfers (food stamps and vouchers, food rations, supplementary feeding, and emergency food distribution), school feeding, other social assistance programs (housing allowances, scholarships, fee waivers, health subsidies, and other social assistance) and public works programs (cash for work and food for work). Estimates include both direct and indirect beneficiaries.","ASPIRE: El Atlas de Protección Social: Indicadores de Resiliencia y Equidad, Banco Mundial. Los datos proceden de encuestas de hogares nacionales representativas. (datatopics.worldbank.org/aspire/)"
129,129,per_si_allsi.cov_q5_tot,Cobertura de los programas de seguro social en el quintil más rico (% de la población),"Coverage of social insurance programs shows the percentage of population participating in programs that provide old age contributory pensions (including survivors and disability) and social security and health insurance benefits (including occupational injury benefits, paid sick leave, maternity and other social insurance). Estimates include both direct and indirect beneficiaries.","ASPIRE: El Atlas de Protección Social: Indicadores de Resiliencia y Equidad, Banco Mundial. Los datos proceden de encuestas de hogares nacionales representativas. (datatopics.worldbank.org/aspire/)"

Como observamos el punto en común entre la metadata y los conjuntos de datos es a través de las columnas **INDICATOR_CODE** e **INDICATOR_NAME**.

## Construcción de un único dataset

Dado que dependiendo el análisis muchas veces será conveniente tener toda la información condensada en un solo lugar construimos un dataset con toda la info.

In [16]:
dataset =pd.concat([education, gender, environment, health, poverty, social_protection])
dataset.shape

(5820, 55)

In [17]:
#Para convertirlo a csv
#dataset.to_csv('dataset.csv')

In [18]:
dataset.columns

Index(['Features', 'Indicator', 'Country Name', 'Country Code',
       'Indicator Code', '1970.0', '1971.0', '1972.0', '1973.0', '1974.0',
       '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0', '1981.0',
       '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0', '1988.0',
       '1989.0', '1990.0', '1991.0', '1992.0', '1993.0', '1994.0', '1995.0',
       '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0', '2002.0',
       '2003.0', '2004.0', '2005.0', '2006.0', '2007.0', '2008.0', '2009.0',
       '2010.0', '2011.0', '2012.0', '2013.0', '2014.0', '2015.0', '2016.0',
       '2017.0', '2018.0', '2019.0'],
      dtype='object')

In [19]:
dataset.head(3)

,Features,Indicator,Country Name,Country Code,Indicator Code,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Población entre 15 y 64 años de edad (% del total),Education,Argentina,ARG,SP.POP.1564.TO.ZS,63.615666,63.527827,63.427855,63.313371,63.178718,...,63.769017,63.880723,63.947129,63.982692,64.015470,64.060020,64.060567,64.083523,64.121277,NaN
1,Población entre 0 y 14 años de edad (% del total),Education,Argentina,ARG,SP.POP.0014.TO.ZS,29.438848,29.380490,29.347396,29.339782,29.361379,...,26.035958,25.822270,25.651857,25.509966,25.368129,25.211165,25.079456,24.926770,24.760934,NaN
2,"Desempleo, total (% de la población activa total) (estimación modelado OIT)",Education,Argentina,ARG,SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,...,7.714000,7.180000,7.217000,7.100000,7.268000,7.750000,7.977000,8.347000,9.220000,9.789

In [20]:
dataset.sample(3)

,Features,Indicator,Country Name,Country Code,Indicator Code,1970.0,1971.0,1972.0,1973.0,1974.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
102,Ahorro ajustado: gasto en educación (US$ actuales),Environment,Brasil,BRA,NY.ADJ.AEDU.CD,1.501929e+09,1.752280e+09,2.090295e+09,2.351424e+09,3.743253e+09,...,1.153460e+11,1.399950e+11,1.335140e+11,1.352236e+11,1.367248e+11,1.079031e+11,1.079031e+11,1.238433e+11,NaN,NaN
673,"Desempleo, varones (% de la población activa masculina) (estimación modelado OIT)",Gender,Ecuador,ECU,SL.UEM.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,...,3.534000e+00,2.939000e+00,2.859000e+00,2.714000e+00,3.070000e+00,3.023000e+00,3.726000e+00,3.069000e+00,2.929,3.283
1297,"Esperanza de vida al nacer, varones (años)",Health,Suriname,SUR,SP.DYN.LE00.MA.IN,6.080500e+01,6.103900e+01,6.126700e+01,6.149000e+01,6.171100e+01,...,6.733600e+01,6.754700e+01,6.771900e+01,6.786300e+01,6.798300e+01,6.808800e+01,6.818300e+01,6.827400e+01,68.368,NaN

In [21]:
dataset['Country Name'].unique()

array(['Argentina', 'Brasil', 'Paraguay', 'Uruguay', 'Venezuela',
       'Bolivia', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Perú',
       'Suriname'], dtype=object)